<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" type="text/css" href="/css/style.css">
    <link  rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="script.js"></script>
    <title>{{title}}</title>
</head>
<body>  
            <ul class="topnav">
                <li class = "logo"><img src="/img/popfreshlogo.png" alt="pflogo"></li>
                <li><a class ="active" href="/">Home</a></li>
                <li><a href="/mealPackagePage">Meal Package Plan</a></li>
                <li><a href="/customerRegistration">Sign up</a></li>
                <li><a href="/login">Login</a></li>
               
            </ul>

    <div class= "container">
        <div class= "main">
 {{{body}}}
        </div>
    </div>
   <div class ="footer">
       <div class = "inner_footer">
           <div class= "footerlogo_container">
               <img src="/img/popfreshlogo.png" alt="pflogo">
           </div>
           <div class="footer_third">
               <h1>Need Help?</h1>
               <a href="#">Terms &amp; Conditions</a>
               <a href="#">Privacy Policy</a>
               
           </div>
            <div class="footer_third">
               <h1>Company</h1>
               <a href="#">About us</a>
               <a href="#">Contact us</a>
               <a href="#">Careers</a>
               <a href="#">Affiliates</a>               
           </div>
            <div class="footer_third">
               <h1>Follow us</h1>
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-snapchat-ghost"></i></a></li>
               <li><a href="#"><i class="fa fa-pinterest"></i></a></li>

            <span>
                Made by POP Fresh est. 2020<br>
                1750 Finch Ave E <br>
                North York, ON <br>
                M2J 2X5
           </span>
           </div>
          
       </div>
   </div>

</body>
</html> 